/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 3 mar 2025, 13:01:30
    Author     : alumne
*/
body {
    background-color: #f8f9fa;
}

.login-container, .register-container {
    width: 100%;
    max-width: 500px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.was-validated .form-control:invalid {
    border-color: #dc3545;
    background-image: none;
}
.was-validated .form-control:valid {
    border-color: #28a745;
}

.container {
    max-width: 900px;
}

/* Estilo para la tabla */
.table {
    margin-top: 20px;
}

.table thead {
    background-color: #343a40;
    color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}


